<!-- paso 2 crear el modal -->
<div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h2 class="modal-title text-center">Crear Usuario</h2>
           <!-- boton de x en el modal para ocultar -->
           <button class="close" type="button" data-dismiss="modal" aria-label="close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <form action="{% url 'Tasks:crear_usuarios' %}" method="post">
           {% csrf_token %}
           <div class="modal-body text-center">
               <!-- llamado al formulario -->
               {{ form.as_p }}
           </div>
           <div class="modal-footer justify-content-center">
               <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
               <button class="btn btn-primary" type="submit">Confirmar</button>
           </div>
       </form>
 
   </div>
</div> 